<p align="center">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-center">
                      
  <p align="center"><li>
    <%= link_to "http://www.facebook.com/user" do %>
      <%= image_tag 'facebook.png' %>
    <% end %>
  </li>
  <li>
    <%= link_to "http://www.twitter.com/user" do %>
      <%= image_tag 'twitter.png' %>
    <% end %>
  </li>
  <li>
    <%= link_to "http://www.googleplus.com/user" do %>
      <%= image_tag 'google.png' %>
    <% end %>
  </li>
  <li>
    <%= link_to "http://www.rss.com/user" do %>
      <%= image_tag 'RSS.png' %>
    <% end %>
    </li>
    <li>
    <%= link_to "http://www.pininterest.com/user" do %>
      <%= image_tag 'pini.png' %>
    <% end %>
  </li>
  </li>
  </ul>
  </div>
      </p>
 </p>


<p align="center">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-center">
                 
                    <li class="center">
                        <a href="#">HOME</a>
                    </li>
                    <li class="center">
                        <a href="#">ABOUT US</a>
                    </li>
                     <li class="center">
                        <a href="#">NEWS</a>
                    </li>
                     <li class="center">
                        <a href="#">SITE TERMS</a>
                    </li>
                     <li>
                        <a href="#">EVENTS</a>
                    </li>
                     <li class="center">
                        <a href="#">LEGAL INFORMATION</a>
                    </li>
                   
    </ul>
</div>

</p>

<p align="center"> Copyright © 2015. FlipEstate. Designed by Third Eye Pro Print, Web & Design </p>

<p class="fa fa-facebook"> </p>